nav {
  margin-top: 50px;
  background-color: #1976d2;
  max-width: 30vh;
  height: 150px;
  border: 2px outset #1976d2;
  border-radius: 10px;
}


nav ul {
  list-style-type: none;
  height: 100%;
}

nav li {
  color: white;
  display: flex;
  justify-content: space-around;
  height: 33%;
  border-bottom: 1px outset white;
  align-items: center;
}

nav li:hover {
  color: #1976d2;
  background-color: whitesmoke;
  border-bottom: 1px outset white;
}
nav li:hover a {
  color: #1976d2;
}

nav li:last-child {
  border: 0;
}

select {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  background-color: darkseagreen;
}

.pagination {
  width: 100%;
}

.select {
  background-color: red;
}

.left, .right, .page-number {
  font-size: 20px;
  display: inline-block;
  margin: 10px;
  border: 1px outset silver;
  background-color: silver;
}
